.current-date {
    background-color: antiquewhite;
    margin: 0 auto;
    text-align: center;
    max-width:300px;
    position:relative;
    top: 350px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: gray 1px solid;
    margin-bottom:20px;
}